<div class="nichePic" style="background-image: url(<%= @niche.image.url %>) ;">
  <h3 class="guideLink">Niche Guide</h3>
</div>
<div class="panel">
  <% @posts.each do |post| %>
    <a href="/posts/<%= post.id %>">
      <div class="nichePanel" style="background-image: url(<%= post.image.url(:medium) %>) ;">
        <h5 class="postPanelText"><%= post.title %></h5>
      </div>
    </a>
  <% end %>
</div>
