<div class="picPanel">
</div>
<div class="panel indexPanel">
  <h1>Niches</h1>
  <% @niches.each do |niche| %>
    <a href="/niches/<%= niche.id %>">
    <div class="nichePanel button">
      <h5><%= niche.name %></h5>
    </div>
  </a>
  <% end %>
</div>
