<div class="panel">
  <h3 class="postTitle"><%= @post.title %></h3>
  <hr>
  <div class="row">
  <div class="medium-4 columns">
    <%= image_tag @post.image.url(:medium) %>
  </div>
  <div class="medium-8 columns">
    <p class="postDescription"><%= @post.description %></p>
  </div>
  <hr>
  <p>Itinerary</p>
</div>
