<div class="panel">
  <h3 class="postTitle"><%= @post.title %></h3>
  <hr>
  <div class="row">
  <div class="medium-4 columns">
    <%= image_tag @post.image.url(:medium) %>
  </div>
  <div class="medium-8 columns">
    <p class="postDescription"><%= @post.description %></p>
  </div>
  <hr>
  <p>Itinerary</p>
  <table>
  <thead>
    <tr>
      <th width="60">Date</th>
      <th width="60">Time</th>
      <th width="150">What</th>
      <th width="150">How Much</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
    <tr>
      <td>Content Goes Here</td>
      <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td>
      <td>Content Goes Here</td>
      <td>Content Goes Here</td>
    </tr>
  </tbody>
</table>
</div>
