.picPanel {
  height: 300px;
  background-image: url("pic_cityscape.jpg");
  background-position:center;
}
.nichePic {
  height: 200px;
  background-position: center ;
  text-align: center;
  margin: 0px;
}
.smallAlert {
  position: absolute;
  max-width: 100%;
  height: 50px;
  margin: 10px;
  opacity: 0.7;
}
.loginPanel {
  margin: 5%;
}
.postPanel {
  width: 180px;
  height: 200px;
  text-align: center;
  background-color: #79BD9A;
  padding: 5px;
  margin: 5px;
  background-position: center ;
}
.postTitle {
  text-align: center;
}
.nichePanel {
  width: 300px;
  max-width: 95%;
  height: 200px;
  text-align: center;
  padding: 5px;
  margin: 5px;
  background-position:center;
}
.guideLink {
  position: relative;
  top: 40%;
}
.nichePic:hover {
  opacity: 0.95;
}
.nicheIconName{
  position: relative;
  top: 40%;
}
